/* PC */
@media (min-width: 1024px) {
    
}

@media (min-width: 740px) and (max-width: 1023px) {
    
}

/* Mobile */
@media (max-width: 739px) {
    #header {
        overflow: hidden;
    }   

    #nav > li {
        display: block;
    }

    #nav li a {
        display: block;
    }

    #nav li:first-child {
        width: fit-content;
    }

    #nav li:first-child a {
        display: inline-block;
    }

    #nav > li:last-child:hover .subnav {
        /* display: inline-block; */
        display: block;
    }

    #search-btn {
        display: none;
    }

    #header .mobile-menu {
        position: absolute;
        top: 0;
        right: 0;
        color: #fff;
        display: block;
        line-height: 46.5px;
        font-size: 14px;
        padding: 0px 24px;
    }

    .mobile-menu:hover {
        background-color: #ccc;
        color: #000;
    }

    #slider .slider-text {
        display: none;
    }

}