/* PC */
@media (min-width: 1024px) {
    
}

@media (min-width: 740px) and (max-width: 1023px) {
    
}

/* Mobile */
@media (max-width: 739px) {
    #header {
        overflow: hidden;
    }   

    #nav > li {
        display: block;
    }

    #nav li a {
        display: block;
    }

    #nav .subnav {
        position: initial;
    }

    #nav li:first-child {
        width: fit-content;
    }

    #nav li:first-child a {
        display: inline-block;
    }

    #nav > li:last-child:hover .subnav {
        /* display: inline-block; */
        display: block;
    }

    #search-btn {
        display: none;
    }

    #header .mobile-menu {
        position: absolute;
        top: 0;
        right: 0;
        color: #fff;
        display: block;
        line-height: 46.5px;
        font-size: 14px;
        padding: 0px 24px;
    }

    .mobile-menu:hover {
        background-color: #ccc;
        color: #000;
    }

    #slider .slider-text {
        display: none;
    }

    .presentation .member {
        height: 365px;
        width: 100%;
    }

    .presentation .member-img {
        width: 297px;
    }

    .tour-place .place {
        padding: 0 8px;
        padding-bottom: 16px;
        width: 100%;
    }

    .modal .modal-form {
        max-width: 506px;
    }

    #contact .contact-address {
        width: 100%;
    }

    #contact .contact-form {
        width: 100%;
        padding-top: 16px;
    }
}